body {
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f3e5f5;
  color: #7b1fa2;
  margin: 0;
}
.container {
  background: #ffffff;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 350px;
  text-align: center;
}
input, button, select {
  width: calc(100% - 20px);
  padding: 10px;
  margin: 10px;
  border: 1px solid #ab47bc;
  border-radius: 5px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
button {
  background-color: #8e24aa;
  color: white;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s;
}
button:hover {
  background-color: #6a1b9a;
}
.avatar {
  width: 100px;
  height: 100px;
  background-color: #ab47bc;
  border-radius: 50%;
  margin: 10px auto;
}
